@model BookingOverviewViewModel

<partial name="_BookingStepProgress" model="3" />

<form asp-action="BookingConfirmed" method="post">
    @Html.AntiForgeryToken()
    
    <input type="hidden" asp-for="@Model.Booking.Id" />

    <div class="row mt-4">
        <div class="col-10">
            <div class="card">
                <div class="card-header">
                    <h4>Stap 3 - controleer je gegevens</h4>
                </div>

                <div class="card-body">
                    <section>
                        <h5>Contactgegevens</h5>

                        <p>Naam: @Model.Booking.ContactName</p>
                        <p>Email: @Model.Booking.ContactEmail</p>
                        <p>Telefoonnummer: @Model.Booking.ContactPhoneNumber</p>
                        <p>Adres: @Model.Booking.ContactAddress</p>
                    </section>

                    <section>
                        <h5>Prijs / korting</h5>
                        
                        <ul>
                            @foreach (Animal animal in Model.Booking.Animals)
                            {
                                <li>@animal.Name: @animal.Price $</li>
                            }
                            
                            @foreach (KeyValuePair<string, int> discount in Model.Discounts)
                            {
                                <li>@discount.Key: @discount.Value %</li>
                            }
                            
                            <li>Totale korting: @Model.TotalDiscount % (max. 60%)</li>
                        </ul>
                    </section>
                    
                    <section>
                        <strong>Totaal: @Model.Price $</strong>
                    </section>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Boeking bevestigen</button>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card">
                <div class="card-header">
                    <h4>Boeking</h4>
                </div>

                <div class="card-body">
                    <p>Datum: @Model.Booking.Date.ToString("d-MM-yyyy")</p>

                    <hr />

                    <h5>Beestjes</h5>
                    <div class="d-flex flex-row">
                        @foreach (Animal animal in Model.Booking.Animals)
                        {
                            <img class="img-fluid animal-image-small" src="@animal.ImageURL" alt="@animal.Name" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>